<div class="row">
  <!-- we want a narrow box that's pushed to the middle and that's where out login form will go -->
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-block">
        <img class="mx-auto d-block" src="/assets/img/logo.png" alt="">
        <h1 class="text-center">Login</h1>
        <form (submit)="onSubmit()">
          <div class="form-group container">
            <label for="email">Email</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
          </div>
          <div class="form-group container">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
          </div>
          <div class="container">
            <input type="submit" class="btn btn-primary btn-block" value="Submit">
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>